<!DOCTYPE html>
<html>
  <head>
    <title>Multipass :: accounts :: login</title>
    <style>
      body {
        background-color: #f58231;
      }
    </style>
  </head>
  <body>
    <h1>Multipass &ndash; accounts</h1>
    {% if authenticated %}
      <p>You are already authenticated as {{ username }}. <a href="/">Home page.</a>
    {% else %}
      {% if error %}
        <p style="color: red">{{ error }}</p>
      {% endif %}
      <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>
      </form>
    {% endif %}
  </body>
</html>
